EXPERIMENT_NAME="test"
GRAFANA_SERVER_HOSTNAME="host1-daq"
GRAFANA_SERVER_PORT=2003
MONITOR_DISK_ON_HOSTS="${EXPERIMENT_NAME}-tpc ${EXPERIMENT_NAME}-pmt ${EXPERIMENT_NAME}-crt ${EXPERIMENT_NAME}-evb"
