#Specify whom to email loading errors
EMAIL_LOADING_ERRORS_TO="user@example.com"

#Specify a working directory for artdaq_database related tasks; does not have to be empty.
ARTDAQ_DATABASE_WORKDIR="${HOME}/work-db-v4-dir"

#Specify a config directory for artdaq_database related tasks; copy default versions of schema.fcl and flags.fcl into it.
#ARTDAQ_DATABASE_CONFDIR="${ARTDAQ_DATABASE_WORKDIR}/config"
ARTDAQ_DATABASE_CONFDIR="/daq/software/database/config"

#Specify a shell command for setting-up artdaq_database from UPS
ARTDAQ_DATABASE_SETUP_COMMAND="setup artdaq_database v1_08_00 -q e20:prof:s120a"

#Specify a shell command for setting-up daqinterface from UPS
DAQINTERFACE_SETUP_COMMAND="setup artdaq_daqinterface v3_12_06"

#Specify a path to the run records directory
DAQ_RUN_RECORDS_DIR=/daq/run_records

#Specify a path to the logs directory
DBTOOLS_LOG_DIR=/daq/log/dbtools

#Specify show how many runs should be processed at once
BATCH_SIZE=50


#Documentation https://docs.mongodb.com/manual/reference/connection-string/
ARTDAQ_DATABASE_WRITER_AUTH="user:password"
ARTDAQ_DATABASE_URI="mongodb://${ARTDAQ_DATABASE_WRITER_AUTH}@host1:port1,host2:port2/test_db?replicaSet=rs0&authSource=admin"
ARTDAQ_DATABASE_URI="filesystemdb://${ARTDAQ_DATABASE_WORKDIR}/filesystemdb/test_db"
ARTDAQ_DATABASE_URI="mongodb://host1:port1,host2:port2,host3:port3/test_db?replicaSet=rs0"
ARTDAQ_DATABASE_CA_CERT="${ARTDAQ_DATABASE_CONFDIR}/ca.pem"
ARTDAQ_DATABASE_CLIENT_CERT="${ARTDAQ_DATABASE_CONFDIR}/client.pem"



#Documentation https://cdcvs.fnal.gov/redmine/projects/ucondb/wiki/ClientInstallation
ONLINE_UCONDB_WRITER_AUTH="user:password"
ONLINE_UCONDB_CLIENT_SOFTWARE="https://host/path-to-ucondb-client.tar"
ONLINE_UCONDB_URI="https://host1:port1/test_on_ucon_prod/app/data/run_records_pending/configuration/key="
