#Specify whom to email loading errors
EMAIL_LOADING_ERRORS_TO="user@example.com"

#Specify a working directory for artdaq_database related tasks; does not have to be empty.
ARTDAQ_DATABASE_WORKDIR="${HOME}/CONFIG_MigrationArea"

#Specify a shell command for setting-up artdaq_database from UPS
ARTDAQ_DATABASE_SETUP_COMMAND="setup artdaq_database v1_08_00 -q e20:prof:s120a"

#Documentation https://docs.mongodb.com/manual/reference/connection-string/
#ARTDAQ_DATABASE_WRITER_AUTH="user:password"
#ARTDAQ_DATABASE_URI="mongodb://${ARTDAQ_DATABASE_WRITER_AUTH}@host1:port1,host2:port2/test_db?replicaSet=rs0&authSource=admin"
#ARTDAQ_DATABASE_URI="filesystemdb://${ARTDAQ_DATABASE_WORKDIR}/filesystemdb/test_db"
#ARTDAQ_DATABASE_URI="mongodb://host1:port1,host2:port2,host3:port3/test_db?replicaSet=rs0"
#ARTDAQ_DATABASE_CA_CERT="${ARTDAQ_DATABASE_CONFDIR}/ca.pem"
#ARTDAQ_DATABASE_CLIENT_CERT="${ARTDAQ_DATABASE_CONFDIR}/client.pem"
ARTDAQ_DATABASE_URI="filesystemdb://${HOME}/CONFIG_MigrationArea/filesystemdb/test_db"

